---
layout: archive
title: "Skills"
permalink: /skills/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
* Languages
  * Python 
  * R
  * Java
  * C++
  * C
  * C#
  * Haskell
  * Rust
  * PHP
  * SQL
  * JavaScript
  * HTML
  * CSS

* Other Tools
  * SDLC
  * Trello
  * Github
  * Figma
{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
